<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-3 px-0">
            <nav th:replace="fragments.html :: side-menu"></nav>
        </div>
        <div class="col-md-9 col-md-offset-3 mt-5">
            <div th:replace="fragments.html :: success-message"></div>
            <div class="py-4 text-center">
                <h4 class="mb-4 mt-1 text-center settings-title">주문 목록</h4>
            </div>
            <hr />
            <div class="row justify-content-between g-0 mx-3">
                <ul class="col-md-4 list-group order-status-list">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       th:classappend="${orderStatus.equals('ALL')}?active" th:href="@{/order/list(orderStatus=ALL)}">
                        전체
                        <span th:text="${allOrderCount}" class="badge bg-secondary"></span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       th:classappend="${orderStatus.equals('COMPLETED')}?active" th:href="@{/order/list(orderStatus=COMPLETED)}">
                        완료된 주문들
                        <span th:text="${completedCount}" class="badge bg-secondary"></span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       th:classappend="${orderStatus.equals('UNCOMPLETED')}?active" th:href="@{/order/list(orderStatus=UNCOMPLETED)}">
                        완료되지 않은 주문들
                        <span th:text="${uncompletedCount}" class="badge bg-secondary"></span>
                    </a>
                </ul>
                <div class="col-md-7">
                    <div th:each="order : ${orderList}" class="card">
                        <div class="card-body">
                            <input type="hidden" th:value="${order.id}" class="order-id" />
                            <div class="order-summary">
                                <form class="order-cancel-form" method="post" th:action="@{'/order/' + ${order.id} + '/cancel'}"></form>
                                <button class="btn btn-danger order-cancel-btn pull-right" type="button">주문취소</button>
                                <p>
                                    <span>수령인:</span><span th:text="${order.receiver}"></span>
                                </p>
                                <p>
                                    <span>결제금액:</span><span class="price-format" th:text="${order.totalPrice}"></span>원
                                </p>
                                <p>
                                    <span>결제일:</span><span class="date-time" th:text="${order.createdDateTime}"></span>
                                </p>
                                <p>
                                    <span>배송상태:</span><span class="order-delivery-status" th:data-value="${order.deliveryStatus}"></span>
                                </p>
                            </div>
                            <button class="btn btn-info order-details-btn" value="자세히">자세히</button>
                            <div class="order-details" style="display: none">
                                <p>
                                    <span>연락처:</span><span th:text="${order.phoneNumber}"></span>
                                </p>
                                <p class="order-details-address">
                                    <span>주소:</span><span th:text="${order.address1}"></span><br/>
                                    <span th:text="${order.address2}"></span><br/>
                                    <span th:text="${order.address3}"></span>
                                </p>
                                <p class="order-details-products"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments.html :: js-library" th:remove="tag"></div>
<div th:include="fragments.html :: korea-date-time" th:remove="tag"></div>
<div th:replace="fragments.html :: price-with-comma"></div>
<div th:replace="fragments.html :: ajax-csrf-token"></div>
<script type="application/javascript">
    $(function () {
        const $orderDetailsBtn = $(".order-details-btn");

        $orderDetailsBtn.click(function (event) {
            const $currentTarget = $(event.currentTarget);
            if ($currentTarget.val() === "자세히") {
                $.ajax({
                    dataType: "json",
                    method: "GET",
                    url: "/order/" + $currentTarget.siblings(".order-id").val() + "/details"
                }).done(function (data, status) {
                    if (data !== null) {
                        const $orderDetailsProducts = $currentTarget.siblings(".order-details").find(".order-details-products");
                        $orderDetailsProducts.append("<span>물품정보:</span>");
                        for (let i = 0; i < data.length; i++) {
                            $orderDetailsProducts.append(`<span>${data[i].name}(${data[i].type}) - (${data[i].price}원, ${data[i].quantity}개)</span><br />`);
                        }
                    }
                });

                $currentTarget.siblings(".order-details").slideDown();
                event.currentTarget.style.display = "none";
            }
        });

        $(".order-delivery-status").each((i, el) => {
            const value = el.getAttribute("data-value");
            if (value === "READY") el.textContent = "준비중";
            else {
                $(el).closest("p").siblings(".order-cancel-btn").hide();
                if (value === "SHIPPING") el.textContent = "배송중";
                else if (value === "COMPLETED") el.textContent = "배송 완료";
            }

        });
    });
</script>
<script type="application/javascript">
    $(function () {
        $(".order-cancel-form").submit(function (event) {
            event.preventDefault();
        });

        $(".order-cancel-btn").click(function (event) {
            let confirmValue = confirm("정말 주문을 취소하시겠습니까?");

            if (confirmValue) {
                const deliveryStatus = $(event.currentTarget).siblings("p").children(".order-delivery-status").attr("data-value");
                if (deliveryStatus === "READY") {
                    $(event.currentTarget).siblings(".order-cancel-form")[0].submit();
                }
            }
        });
    });
</script>

</body>
</html>