<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-3 px-0">
            <nav th:replace="fragments.html :: side-menu"></nav>
        </div>
        <div class="col-md-9 col-md-offset-3 mt-5">
            <div class="py-4 text-center">
                <h4 class="mb-4 mt-1 text-center settings-title">주문 관리</h4>
            </div>
            <hr />
            <form th:action="@{/admin/order/list}" method="get" class="form-inline row justify-content-center align-items-center mt-2">
                <div class="col-md-2">
                    <select name="deliveryStatus" class="form-select" required>
                        <option value="READY" th:selected="${deliveryStatus eq 'READY'}">준비중</option>
                        <option value="SHIPPING" th:selected="${deliveryStatus eq 'SHIPPING'}">배송중</option>
                        <option value="COMPLETED" th:selected="${deliveryStatus eq 'COMPLETED'}">배송 완료</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <input name="keywords" th:value="${keywords}" class="form-control border-end-0 border" type="search" placeholder="Search..." maxlength="100" />
                        <span class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            <form id="deliveryStatusChangeForm" method="post" th:action="@{/admin/order/list/change/delivery-status}"></form>
            <button id="deliveryStatusChangeBtn" class="btn btn-primary" type="button">배송상태 변경</button>
            <div class="row justify-content-center py-4">
                <div class="col-md-9">
                    <table class="table table-hover users-order-list-table">
                        <thead>
                            <tr>
                                <th scope="col">주문번호</th>
                                <th scope="col">수령인</th>
                                <th scope="col">결제금액</th>
                                <th scope="col">결제일</th>
                                <th scope="col">연락처</th>
                                <th scope="col">주소</th>
                                <th scope="col">유저정보(이메일-닉네임)</th>
                                <th scope="col">상품정보(상품명-수량)</th>
                                <th scope="col">배송상태</th>
                            </tr>
                        </thead>
                        <tbody th:each="order: ${orderList}">
                            <tr>
                                <input type="hidden" th:value="${order.id}" class="order-id" />
                                <th scope="row" th:text="${currentOffset + orderStat.count}"></th>
                                <td th:text="${order.receiver}"></td>
                                <td><span th:text="${order.totalPrice}" class="price-format"></span>원</td>
                                <td th:text="${order.createdDateTime}" class="date-time"></td>
                                <td th:text="${order.phoneNumber}"></td>
                                <td>
                                    <span th:text="${order.address1}"></span><br />
                                    <span th:text="${order.address2}"></span><br />
                                    <span th:text="${order.address3}"></span>
                                </td>
                                <td>
                                    <span th:text="${order.user.email}"></span><br />
                                    <span th:text="${order.user.nickname}"></span>
                                </td>
                                <td>
                                    <div th:each="orderDetails: ${order.orderDetailsList}">
                                        <span th:text="${orderDetails.painting.name}"></span> - <span th:text="${orderDetails.quantity}"></span>개
                                    </div>
                                </td>
                                <td>
                                    <ul class="list-group list-group-horizontal delivery-status-group" th:data-value="${order.deliveryStatus}">
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-value="READY"
                                           th:classappend="${order.deliveryStatus == T(com.homepaintings.order.DeliveryStatus).READY}?active" role="button">준비중</a>
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-value="SHIPPING"
                                           th:classappend="${order.deliveryStatus == T(com.homepaintings.order.DeliveryStatus).SHIPPING}?active" role="button">배송중</a>
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-value="COMPLETED"
                                           th:classappend="${order.deliveryStatus == T(com.homepaintings.order.DeliveryStatus).COMPLETED}?active" role="button">배송 완료</a>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <nav>
                        <ul class="pagination justify-content-between">
                            <li class="page-item" th:classappend="${currentFirstPage < 10}? disabled">
                                <a th:href="@{/admin/order/list(page=${currentFirstPage - 10},deliveryStatus=${deliveryStatus},
                                keywords=${keywords})}" class="page-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                            </li>
                            <div class="d-inline-flex justify-content-center">
                                <li class="page-item" th:classappend="${i == orderList.getNumber()}? active"
                                    th:each="i : ${#numbers.sequence(currentFirstPage, currentLastPage, 1)}">
                                    <a th:href="@{/admin/order/list(page=${i},deliveryStatus=${deliveryStatus},
                                    keywords=${keywords})}" class="page-link" th:text="${i + 1}"></a>
                                </li>
                            </div>
                            <li class="page-item" th:classappend="${currentLastPage >= orderList.getTotalPages() - 1}? disabled">
                                <a th:href="@{/admin/order/list(page=${currentLastPage + 1},deliveryStatus=${deliveryStatus},
                                keywords=${keywords})}" class="page-link"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments.html :: js-library" th:remove="tag"></div>
<div th:include="fragments.html :: korea-date-time" th:remove="tag"></div>
<div th:replace="fragments.html :: price-with-comma"></div>
<script type="application/javascript">
    $(function () {
        const $deliveryStatusChangeForm = $("#deliveryStatusChangeForm");

        $deliveryStatusChangeForm.submit(function (event) {
            event.preventDefault();
        });

        $(".delivery-status-group > a").click(function (event) {
            const $currentTarget = $(event.currentTarget);
            $currentTarget.siblings("a").removeClass("active");
            $currentTarget.addClass("active");
            $currentTarget.closest(".delivery-status-group").attr("data-value", $currentTarget.attr("data-value"));
        });

        $("#deliveryStatusChangeBtn").click(function (event) {
            let confirmValue = confirm("버튼을 누르면 현재 페이지의 모든 주문들의 배송상태가 일괄적으로 변경됩니다. 정말 변경하시겠습니까?");

            if (confirmValue) {
                const orderIdList = $(".users-order-list-table > tbody > tr > .order-id").map((i, el) => el.value).get();
                const deliveryStatusList = $(".users-order-list-table .delivery-status-group").map((i, el) => el.getAttribute("data-value")).get();

                $deliveryStatusChangeForm.append($("<input>").attr("type", "hidden").attr("name", "orderIdList").val(orderIdList));
                $deliveryStatusChangeForm.append($("<input>").attr("type", "hidden").attr("name", "deliveryStatusList").val(deliveryStatusList));
                $deliveryStatusChangeForm[0].submit();
            }
        });
    });
</script>

</body>
</html>