<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>

<body class="bg-light">

<div class="container my-3">
    <div class="py-4 text-center">
        <h2>계정 생성</h2>
    </div>
    <hr />
    <div class="row justify-content-center pt-5">
        <form class="col-sm-6 form-custom-validation" th:action="@{/sign-up}" method="post" th:object="${signUpForm}" novalidate>
            <div class="form-group">
                <label for="email">이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control" aria-describedby="emailHelp"
                       placeholder="이메일을 입력해 주세요." required/>
                <small id="emailHelp" class="form-text text-muted">
                    다른 곳에서 사용하시는 이메일을 입력해주세요.
                </small>
                <small class="invalid-feedback">올바른 이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp"
                       minlength="2" maxlength="20" placeholder="닉네임을 입력해 주세요." required/>
                <small id="nicknameHelp" class="form-text text-muted">
                    2자 이상의 닉네임을 입력해주세요. 닉네임은 중복될 수 없습니다.
                </small>
                <small class="invalid-feedback">올바른 닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" type="password" th:field="*{password}" class="form-control" aria-describedby="passwordHelp"
                       minlength="8" maxlength="20" placeholder="비밀번호를 입력해 주세요." required />
                <small id="passwordHelp" class="form-text text-muted">
                    최소 8자 이상 입력하세요. 영문자(대,소), 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                </small>
                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
            </div>
            <div class="form-group">
                <label for="passwordAgain">비밀번호 확인</label>
                <input id="passwordAgain" type="password" th:field="*{passwordAgain}" class="form-control"
                       minlength="8" maxlength="20" placeholder="비밀번호를 똑같이 입력해 주세요." required />
                <small class="invalid-feedback">비밀번호를 똑같이 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('passwordAgain')}" th:errors="*{passwordAgain}">PasswordAgain Error</small>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">생성하기</button>
                <small id="submitHelp" class="form-text text-muted">
                    모두 입력하셨다면 생성하기 버튼을 눌러주세요.
                </small>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments.html :: form-validation"></div>

</body>
</html>