<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div th:if="${error}" class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading text-center">이메일 인증 실패!</h4>
        <div class="px-5 py-2">
            <span th:text="${error}"></span> <br />
            내 정보 메뉴에서 이메일 인증 링크를 재전송할 수 있습니다.
        </div>
    </div>
</div>

<div th:if="${error == null}" class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">이메일 인증 완료!</h4>
        <div class="px-5 py-2">
            <p>
                환영합니다. <span th:text="${nickname}"></span>님 <br />
                <span th:text="${nickname}"></span>님의 이메일(<span th:text="${email}"></span>)로 인증하였습니다.
                이제 본 서비스를 이용하실 수 있습니다.
            </p>
            <hr />
            <a th:href="@{/}">메인화면으로 이동</a>
        </div>
    </div>
</div>

<div th:include="fragments.html :: js-library" th:remove="tag"></div>

</body>
</html>