<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments.html :: head"></div>
<body class="bg-light">
<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-3 px-0">
            <nav th:replace="fragments.html :: side-menu"></nav>
        </div>
        <div class="col-md-9 col-md-offset-3 mt-5">
            <div class="py-4 text-center">
                <h4 class="mb-4 mt-1 text-center settings-title">장바구니 목록</h4>
            </div>
            <hr />
            <div th:each="cart : ${cartList}" class="card">
                <div class="row g-0">
                    <div class="col-md-5">
                        <input type="checkbox" class="form-check-input cart-check-box" th:attr="data-cartId=${cart.id}" />
                        <img th:src="${#strings.isEmpty(cart.painting.image) ? '/images/no_image.png' : cart.painting.image}"
                             class="card-img w-25" alt="&times;" />
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${cart.painting.name}"></span>
                                (<span th:text="${cart.painting.type}"></span>)
                            </h5>
                            <p class="card-text">
                                수량: <span class="price-format" th:text="${cart.quantity}"></span>
                            </p>
                            <p class="card-text">
                                전체 가격: <span class="price-format" th:text="${cart.totalPrice}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between g-0 mt-3">
                <form id="orderForm" th:action="@{/create-order}" method="get"></form>
                <button type="button" id="orderBtn" class="btn btn-primary col-md-3">주문하기</button>
                <button id="removeBtn" class="btn btn-danger col-md-3">제거하기</button>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments.html :: js-library" th:remove="tag"></div>
<div th:replace="fragments.html :: price-with-comma"></div>
<div th:replace="fragments.html :: ajax-csrf-token"></div>
<script type="application/javascript">
    $(function () {
        $("#removeBtn").click(function () {
            let confirmValue = confirm("정말로 삭제하시겠습니까?");

            if (confirmValue) {
                let cartIdList = [];

                $("input.cart-check-box:checked").each(function () {
                    cartIdList.push($(this).attr("data-cartId"));
                });

                $.ajax({
                    dataType: "text",
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/cart/remove",
                    data: JSON.stringify({
                        'cartIdList': cartIdList
                    }),
                    success: function () {
                        location.href = "/cart/list"
                    }
                }).done(function (data, status) {
                    if (data !== null) alert(data);
                });
            }
        });
    });
</script>
<script type="application/javascript">
    $(function () {
        let $orderForm = $("#orderForm");

        $orderForm.submit(function (e) {
            e.preventDefault();
        });

        $("#orderBtn").click(function () {
            let cartIdList = [];

            $("input.cart-check-box:checked").each(function () {
                cartIdList.push($(this).attr("data-cartId"));
            });

            if (cartIdList.length === 0) {
                alert("주문할 물품들을 체크해주세요.");
            } else {
                let input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "cartIdList").val(cartIdList);
                $orderForm.append($(input));
                $orderForm[0].submit();
            }
        });
    });
</script>

</body>
</html>