<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Welcome homepaintings!</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/common.css">
</head>

<nav th:fragment="main-nav" class="navbar navbar-dark bg-dark navbar-expand-md px-3 sticky-top justify-content-center">
    <a class="navbar-brand" th:href="@{/}">
        <img src="/images/logo.png" alt="로고이미지" width="100%" />
    </a>
    <ul class="navbar-nav w-100 justify-content-md-end">
        <li sec:authorize="!isAuthenticated()" class="nav-item px-2">
            <a class="nav-link" th:href="@{/sign-up}"><i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입</a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item px-2">
            <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 로그인</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg th:if="${#strings.isEmpty(user?.profileImage)}" th:data-jdenticon-value="${user?.nickname}" class="rounded border bg-light" width="24" height="24" />
                <img th:if="${!#strings.isEmpty(user?.profileImage)}" th:src="${user?.profileImage}" class="rounded border" width="24" height="24" alt="프로필 사진" />
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <a class="dropdown-item"><span th:text="${user?.nickname}"></span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/settings/profile}">내 정보</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item btn btn-link"><i class="fa fa-sign-out" aria-hidden="true"></i> 로그아웃</button>
                </form>
            </div>
        </li>
    </ul>
</nav>

<!--navbar -> display: flex-->
<nav th:fragment="side-menu" class="navbar navbar-expand-md navbar-light bg-light px-3 py-0 custom-side-menu flex-md-column">
    <form th:action="@{/search}" method="get" class="d-flex align-items-center custom-search">
        <input class="form-control" size="100" name="keywords" type="search" placeholder="Search..." />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideMenuContent"
                aria-controls="sideMenuContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </form>
    <div class="collapse navbar-collapse custom-side-menu-content" id="sideMenuContent">
        <ul class="navbar-nav flex-column flex-grow-1 align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">풍경화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">정물화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">수묵화</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">애니메이션</a>
            </li>
        </ul>
    </div>
</nav>

<script th:fragment="form-validation" type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('form-custom-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) { // 유효하지 않으면 not submit
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    }());
</script>

<div th:fragment="js-library">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</div>

</html>